Node-red/Node-red-config.txt
[
    {
        "id": "f3b38627.f6327",
        "type": "tab",
        "label": "medicion Flow"
    },
    {
        "id": "818c96ed.bc4208",
        "type": "serial in",
        "z": "f3b38627.f6327",
        "name": "sensores",
        "serial": "3929f5b1.22f1ca",
        "x": 80,
        "y": 256,
        "wires": [
            [
                "b2954eb1.c39938"
            ]
        ]
    },
    {
        "id": "b2954eb1.c39938",
        "type": "function",
        "z": "f3b38627.f6327",
        "name": "medidas",
        "func": "var res = {};\nvar datosArray = [];\nvar datosArrayInt = [3];\n\ndatosString = msg.payload;\ndatosArray = datosString.split(\"\\t\");\n\nres.topic = \"medicion\";\ndatosArrayInt[0] =parseInt(datosArray[0]);\ndatosArrayInt[1] =parseInt(datosArray[1]);\ndatosArrayInt[2] =parseInt(datosArray[2]);\nres.payload =datosArrayInt;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 358.5,
        "y": 279,
        "wires": [
            [
                "51f676b5.3128d",
                "4d9a2177.4c076"
            ]
        ]
    },
    {
        "id": "d209c38b.078e4",
        "type": "inject",
        "z": "f3b38627.f6327",
        "name": "sensorTime",
        "topic": "medicionFecha",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "x": 134,
        "y": 127,
        "wires": [
            [
                "e8073bb9.bee798"
            ]
        ]
    },
    {
        "id": "e8073bb9.bee798",
        "type": "function",
        "z": "f3b38627.f6327",
        "name": "Format Time",
        "func": "var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 374,
        "y": 118,
        "wires": [
            [
                "51f676b5.3128d",
                "f94e4e65.2d3ef"
            ]
        ]
    },
    {
        "id": "51f676b5.3128d",
        "type": "function",
        "z": "f3b38627.f6327",
        "name": "CrearMedicion",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"medicionFecha\":\n        context.data.fecha = msg.payload;\n        msg = null;\n        break;\n    case \"medicion\":\n        var datos = [];\n        datos = msg.payload;\n        context.data.pacienteId = 2;\n        context.data.presionSanguinea = datos[1];\n        context.data.frecuenciaCardiaca=parseInt(datos[2]);\n\t    context.data.nivelEstres=datos[0];\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.fecha != null &&context.data.frecuenciaCardiaca>0) {\n    var res={};\n\tif(context.data.frecuenciaCardiaca<30&&context.data.nivelEstres<30&& context.data.presionSanguinea<25){\n\t      res.topic = \"medicionNormal\";\n\t      context.data.dictamen=\"verde\";\n\t }\n\telse if (context.data.frecuenciaCardiaca<40&&context.data.nivelEstres<50&&context.data.presionSanguinea<20){\n\t      res.topic = \"medicionNormal\";\n\t      context.data.dictamen=\"amarillo\";\n\t }\n\telse {\n\t      res.topic = \"medicionEmergencia\";\n\t      context.data.dictamen=\"rojo\";\n\t      context.data.emergencia={\"latitud\":13424524523, \"longitud\":2394223};\n\t}\n    res.payload = JSON.stringify(context.data);\n    res.headers = {\n         \"Content-type\" : \"application/json\",\n         \"my-custom-header\": \"a value\"\n     };\n    context.data = null;\n\treturn res;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 639,
        "y": 190,
        "wires": [
            [
                "571b0009.956208",
                "e1ba5552.25104",
                "4750a40f.fed2f4"
            ]
        ]
    },
    {
        "id": "4750a40f.fed2f4",
        "type": "http request",
        "z": "f3b38627.f6327",
        "name": "post medicion",
        "method": "POST",
        "ret": "obj",
        "url": "http://localhost:8080/corazon-web/api/pacientes/1/mediciones/",
        "tls": "",
        "x": 1124.5,
        "y": 203,
        "wires": [
            [
                "86364e78.8812a8",
                "ae899b2d.d24a"
            ]
        ]
    },
    {
        "id": "86364e78.8812a8",
        "type": "http response",
        "z": "f3b38627.f6327",
        "name": "respuesta",
        "x": 1403.5,
        "y": 172,
        "wires": []
    },
    {
        "id": "571b0009.956208",
        "type": "debug",
        "z": "f3b38627.f6327",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 964.5,
        "y": 356,
        "wires": []
    },
    {
        "id": "4d9a2177.4c076",
        "type": "debug",
        "z": "f3b38627.f6327",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 372.5,
        "y": 490,
        "wires": []
    },
    {
        "id": "f94e4e65.2d3ef",
        "type": "debug",
        "z": "f3b38627.f6327",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 573.5,
        "y": 38,
        "wires": []
    },
    {
        "id": "e4f463ed.9bb488",
        "type": "debug",
        "z": "f3b38627.f6327",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1003.5,
        "y": 618,
        "wires": []
    },
    {
        "id": "ae899b2d.d24a",
        "type": "debug",
        "z": "f3b38627.f6327",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1242.5,
        "y": 399,
        "wires": []
    },
    {
        "id": "e1ba5552.25104",
        "type": "debug",
        "z": "f3b38627.f6327",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 736.5,
        "y": 483,
        "wires": []
    },
    {
        "id": "3929f5b1.22f1ca",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/cu.usbserial-A100DNF0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    }
]